$primary-color:            #03C290;
$primary-color-dark:       #03D8A0;
$primary-color-light:      #E5FBF5;

$white:                    #FFF;

$secondary-color:          #03A9F4;
$body-background-color:    #FFFFFF;

$dark-body-background-color:    #242424;
$dark-body-background-alt-color: #333;
$dark-body-font-color:          #999;

$soft-elevation: 0 0 2px rgba(75, 81, 91, .2), 0 1px 1px rgba(0, 0, 0, .1);


$font-size:   14px;

$base-font-family: "Inter", "Helvetica Neue", Arial, sans-serif;

$fa-font-path: "../assets/fonts";

@import "../../../node_modules/spectre.css/src/spectre";

$success-color-dark: darken($success-color, 20%);
$warning-color-dark: darken($warning-color, 20%);
$error-color-dark: darken($error-color, 20%);

$warning-color-background: #fcebeb;
$dark-warning-color-background: #AE0303;

.noselect {
  -moz-user-select: none;
  user-select: none;
}
.loading::after {
  animation: loading 1s infinite linear;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
label, input, button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@mixin hide-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label.disabled {
  color: $gray-color;
}
label.disabled,
label.disabled input {
  cursor: not-allowed;
}
.modal:target .modal-overlay,
.modal.active .modal-overlay {
  background: rgba(0, 0, 0, 0.75);
}
.modal-lg .modal-container .modal-body {
  max-height: 80vh;
}
.btn {
  &:focus,
  &:hover {
    color: #fff;
  }
}
